<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/home/style.css" />
    </head>
    <body>
        <h1>Details of {{name}}</h1>

				<h2>Transactions</ht>
        <table>
            <tr><th>Date</th><th>buy or sell</th>
                <th>Number</th><th>Total cost</th></tr>
        {% for x in transactions %}
            <tr>
                <td>{{ x.date }}</td>
                <td>{{ x.buy_sell }}</td>
                <td>{{ x.number }}</td>
                <td>{{ x.cost }}</td>
            </tr>
        {% endfor %}
        </table>
				<h2>Price changes</ht>
        <table>
            <tr><th>Date</th><th>New price</th></tr>
        {% for x in prices %}
            <tr>
                <td>{{ x.date }}</td>
                <td>{{ x.price }}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>

